NODE_ENV=development
PORT=5000

DB_HOST=db
DB_PORT=3306
DB_NAME=tallerdb
DB_USER=taller_user
DB_PASSWORD=taller_pass_change_me

REDIS_HOST=redis
REDIS_PORT=6379

JWT_ACCESS_SECRET=access_secret_change_me
JWT_REFRESH_SECRET=refresh_secret_change_me
ACCESS_TOKEN_EXPIRES=15m
REFRESH_TOKEN_EXPIRES=8h

CORS_ORIGIN=http://localhost:5173
